/aclocal.m4
/configure
/autom4te.cache
/config.log
/config.status
/.project
/.cproject
/.settings
/.test
/.vscode
/INSTALL
Makefile.in
Makefile
/aux
/m4/*
!/m4/ax_pthread.m4
!/m4/glite.m4
!/m4/voms.m4
!/m4/wsdl2h.m4
!/m4/acinclude.m4
!/m4/Makefile.am
/libtool
.libs
.deps
*.la
*.lo
*.o
/testsuite/SuiteConfig
