[Unit]
Description=VOMS service

[Service]
WorkingDirectory=/var/lib/voms-admin
EnvironmentFile=-/etc/sysconfig/voms
User=voms
Type=simple
ExecStart=
ExecStop=/bin/kill -TERM $MAINPID
KillMode=process

[Install]
WantedBy=multi-user.target
