[Unit]
Description=VOMS service for VO %i

[Service]
WorkingDirectory=/
EnvironmentFile=-/etc/sysconfig/voms
User=voms
Type=forking
ExecStart=/usr/sbin/voms --conf /etc/voms/%i/voms.conf
KillMode=process
SuccessExitStatus=1

[Install]
WantedBy=multi-user.target
