html,body { 
	height: 100%; 
}

#wrap { 
	
	min-height: 100%; 
	height: auto !important;
	height: 100%;
	/* Keep the margin below aligned with the height value
	   of #push and #footer (and also consider eventually 
	   border sizes in the footer element)
	*/
	margin: 0 auto -65px;
}

/* set a max-width for horizontal fluid layout 
and make it centered */
.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 940px;
}

#push, #footer {
	height: 60px;
}

#vomscontent p {
	line-height: 1.7;
}

#footer{
	border-top: 5px solid #e4c90f; 
	background-color: #3d3f42;
	margin-top: 20px;
}

.highlight pre code {
	font-size: 110%;
}
@media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
		}
}

#wrap > .container {
	padding-top: 41px;
}

.container .credit {
	margin: 20px 0;
}

/** This is required to make anchors not disappear
 under fixed navbar **/
a[name] {
  padding-top: 41px;
  margin-top: -41px;
  display: inline-block; /* required for webkit browsers */
}


h1, h2, h3, h4, h5 {
	color: #3d3f42;
}

/** headings, paragraphs, and code got to look like 
on github wiki */

h1 {
	color: rgb(51, 51, 51);
	font-size: 36px;
	line-height: normal;
	height: 37px;
	margin-bottom: 25px;
	margin-top: 35px;
}

h2 {
	color: rgb(51, 51, 51);
	border-bottom-color: rgb(238, 238, 238);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	margin-bottom: 15px;
	margin-top: 30px;
}

.highlight pre code {
	font-size: 13px;
	font-family: Consolas, "Liberation Mono", Courier, monospace;
	line-height: 19px;
}

/**
.navbar-inverse .navbar-inner{
	background-color: #3d3f42;
	background-image: linear-gradient(to bottom, #3d3f42, #3d3f38);
}
**/
.navbar .brand{
	font-size:20px;
	font-weight: bold;
}
