html,body { 
	height: 100%; 
}

#wrap { 
	
	min-height: 100%; 
	height: auto !important;
	height: 100%;
	/* Keep the margin below aligned with the height value
	   of #push and #footer (and also consider eventually 
	   border sizes in the footer element)
	*/
	margin: 0 auto -65px;
}

#push, #footer {
	height: 60px;
}

#vomscontent p {
	line-height: 1.7;
}

#footer{
	/* border-top: 5px solid #e4c90f;*/
	background-color: #3d3f42;

}

.highlight pre code {
	font-size: 110%;
}

@media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
		}
}


#wrap > .container {
	padding-top: 41px;
}

.container .credit {
	margin: 20px 0;
}

/** This is required to make anchors not disappear
 under fixed navbar **/
a[name] {
  padding-top: 41px;
  margin-top: -41px;
  display: inline-block; /* required for webkit browsers */
}


h1, h2, h3, h4, h5 {
	color: #3d3f42;
}


/**
.navbar-inverse .navbar-inner{
	background-color: #3d3f42;
	background-image: linear-gradient(to bottom, #3d3f42, #3d3f38);
}
**/
.navbar .brand{
	font-size:24px;
	font-weight: bold;
}
