Source: voms
Priority: optional
Maintainer: Andrea Ceccanti <andrea.ceccanti@cnaf.infn.it>
Build-Depends: debhelper (>= 7.0.50~), autotools-dev,autoconf, automake,quilt,libssl-dev,libexpat1-dev,pkg-config,xsltproc,docbook-xml,docbook-xsl
Standards-Version: 3.8.4
Section: libs
Homepage: https://wiki.italiangrid.it/VOMS

Package: voms-dev
Section: libdevel
Architecture: any
Depends: libvomsapi1 (= ${binary:Version}), libssl-dev, ${misc:Depends}
Suggests: voms-doc
Description: The Virtual Organisation Membership Service C++ APIs (Development files)
 The Virtual Organization Membership Service (VOMS) is an attribute authority
 which serves as central repository for VO user authorization information,
 providing support for sorting users into group hierarchies, keeping track of
 their roles and other attributes in order to issue trusted attribute
 certificates and SAML assertions used in the Grid environment for
 authorization purposes.
 This package offers header files for programming with the VOMS libraries.

Package: libvomsapi1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: The Virtual Organisation Membership Service C++ APIs
 The Virtual Organization Membership Service (VOMS) is an attribute authority
 which serves as central repository for VO user authorization information,
 providing support for sorting users into group hierarchies, keeping track of
 their roles and other attributes in order to issue trusted attribute
 certificates and SAML assertions used in the Grid environment for
 authorization purposes.
 This package provides libraries that applications using the VOMS functionality
 will bind to.

#Package: voms-doc
#Section: doc
#Architecture: all
#Depends: voms-dev, ${misc:Depends}
#Description: The Virtual Organisation Membership Service Documentation Files
# Documentation for the Virtual Organization Membership Service.
