/autogen
/api/ccapi/voms-2.0.pc
/replica/voms_install_replica
/server/VOMSAC.h
/server/soapC.cpp
/server/soapClient.cpp
/server/soapClientLib.cpp
/server/soapServer.cpp
/server/soapServerLib.cpp
/server/soapStub.h
/server/soapH.h
/server/voms
/server/vomsSOAP.nsmap
/server/vomsSOAP.GetAttributeCertificate.req.xml
/server/vomsSOAP.GetAttributeCertificate.res.xml
/install/mysql2oracle
/install/sysconfig-voms
/install/upgrade1to2
/install/voms.start
/install/voms_install_db
/utils/voms-proxy-destroy
/utils/voms-proxy-fake
/utils/voms-proxy-info
/utils/voms-verify
/client/voms-proxy-init
